body{
	background:black;
}
h1{
	color:darkred;
}
h2{
	font-size:20px;
}
img#logo{
	width: 200px;
	position:absolute;
	right: 20px;
}
h2{
	color:white;
}
p{
	color:white;
	font-size:30px;
}
img#nocturina{
	position:center;
}